body {
    font-family: 'VT323', monospace;    
}
p{
    font-size: 20px;
}
.nav-link{
    font-size: 20px;
}

.navbar-brand {
    font-size: 28px;
}

.img-thumbnail {
    height: 200px;
    width: 265px;
}

/* .img-fluid {
    width: 20%;
    height: 20%;
} */